<div>
  {{ if site.Params.siteStartYear }}
  <p>
    © {{ if eq now.Year site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ site.Params.siteStartYear }} - {{
    now.Year }}{{ end }} {{ site.Title }}
  </p>
  {{ else }}
  <p>© {{ now.Year }} {{ site.Title }}</p>
  {{ end }}

  {{ if site.Params.footerBottomText }}
  <p>{{ site.Params.footerBottomText | safeHTML }}</p>
  {{ else }}
  <p class="text-sm">
    🌱
    <span class="text-base-content/60">
      <a class="hover:underline" href="https://my-blog-nine-blond.vercel.app" target="_blank">DaDa</a>
       | <a class="hover:underline" href="https://amzn.to/4wjRsqv" target="_blank">shopping</a>
      
    </span>
  </p>
  {{ end }}
</div>
